th {
	 /* background-color: #D3D3D3;*/
	
    border: 1px solid #004A7F;
    padding: 3px;
    vertical-align: top;
    color:#004A7F;
}
tr:nth-child(even) {
  background-color: #F3F3F3;
}


tr:nth-child(odd) {
  background-color: white;
}
A:link {
 COLOR: black /*The color of the link*/
}

td { 
	 min-width: 70px; 
/*max-width: 200px;*/
  border-left: 1px solid #C3C3C3;
  word-wrap: break-word;
}
td.set { 
	 min-width: 70px; 
/*max-width: 500px;*/
  border-left: 1px solid #C3C3C3;
  word-wrap: break-word;
}


#indi_suggest{
	position:absolute ;
	z-index: 10;
	
}
div.suggest{
	position:absolute ;
	z-index: 10;
	
}
#indinot_suggest{
	position:absolute ;
	z-index: 10;
	
}
#reac_suggest{
		position:absolute ;
		z-index: 10;
	
}
#reacnot_suggest{
		position:absolute ;
		z-index: 10;
	
}
div.editname{
font-family: arial;
font-size: 11px;
width:200px;
position:absolute;
visibility:hidden;
z-index:10;
  border: 1px solid orange;
padding: 2px;
background-color: white;
}
div.deletename{
font-family: arial;
font-size: 11px;
width:200px;
position:absolute;
visibility:hidden;
z-index:10;
  border: 2px solid orange;
padding: 2px;
background-color: white;
}

a.link{
	cursor: pointer; 
	cursor: hand;
	background-color: rgba(255, 165, 0, 0.52);
	border: 2px solid white ;
	font-size: 10px;
	padding:2px;
	color:black;
	
}

.legendclass{
	color:#004A7F;
	/*background-color:rgba(0, 133, 255, 0.47);*/
	font-size: 13px;
	padding-left: 2px;
	padding-right: 2px;
}

.cartclass{
	
	display: none;
	
}
fieldset{
	border: 1px solid #004A7F;
}

